* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video {
    position: relative;
}

.video_duration {
    position: absolute;
    right: 0.7rem;
    bottom: 0.7rem;
    padding: 0.2rem;
    background-color: black;
    color: white;
    font-size: 13px;
    border:none;
    border-radius: 5px;
}

.homepage1_video {
    padding-bottom: 3rem;
}

.homepage1_video_container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 1000px;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
}

.homepage1_container_info {
    display: flex;
    gap:8rem;
    padding-top: 0.7rem;
}
.bottom_video_title_stats {
   line-height: 1.5;
}

.bottom_video_title {
    font-size: 17px;
    font-weight: 540;
}

.bottom_video_stats {
     font-size: 11px;
}

.bottom_video_action_icons {
    padding-left: 0.7rem;
}